body {
    font-family: Arial, sans-serif;
    background-color: #454444;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6a1b9a; /* Morado intenso */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6a1b9a; /* Morado intenso */
}

#cocktailType label {
    margin-right: 15px;
}

button {
    padding: 10px 20px;
    background-color: #6a1b9a; /* Morado intenso */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #4a148c; /* Morado oscuro */
}

#cocktailList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cocktail {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.cocktail p {
    margin: 0;
    font-weight: bold;
}

.cocktail img {
    max-width: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

#totalAlcoholic {
    padding: 5px;
    width: 75px;
    margin-left: 10px;
}

.total-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.total-container label,
.total-container input,
.total-container button {
    margin-right: 30px;
}
